* {
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #FFF0F5; /* background color */
    color: #4A4A4A; /* text color */
}

#header { /* needs # because it is an id, not a class */
    width: 100%;
    height: 100vh; 
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px; 
}

nav {
    display: flex; /* moves links next to logo */
    align-items: center; /* centers links to horizontal center of logo */
    justify-content: space-between; /* moves link to the right side of screen */
    flex-wrap: wrap; /* for device size changes maybe */

    position: fixed; /* make it stay at top of screen while scrolling */
    top: 0;
    width: 100%;
    height: 12vh;
    z-index: 100;
    background-color: #FFF0F5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

.logo { /* control logo size*/ 
    font-size: 40px;
    font-family: 'Alex Brush', cursive;
    text-decoration: none;
    color: #4A4A4A;
}

nav ul li {
    display: inline-block; /* makes it so links are in a horizontal row */
    list-style: none; /* so there's not bullet points next to the links */
    margin: 10px 20px; /* puts space between the links, 10px top/bottom and 20px left/right */ 
}

nav ul li a {
    color: #4A4A4A; /* make the links white */ 
    text-decoration: none; /* remove underline */ 
    font-size: 20px;
    position: relative;
}

nav ul li a::after { /* adds an underline to the navagation bar links */ 
    content: '';
    width: 0; /* so its invisible to start, fully visible at 100% */
    height: 3px; 
    background: #FFA07A;
    position: absolute; 
    left: 0; 
    bottom: -6px; 
    transition: 0.5s; /* adds underline animation so that is shows up in 0.5 seconds */
}

nav ul li a:hover::after {
    width: 100%; /* makes it fully visible */
}

.header-text {
    margin-top: 10%;
    font-size: 25px; 
}

.header-text h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 75px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-in-out {
    opacity: 0; 
    animation: fadeInOutAnimation 2s forwards; /* Apply the animation */
  }
  
  @keyframes fadeInOutAnimation {
    from {
      opacity: 0; 
      margin-top: 10%;
    }
    to {
      opacity: 1; 
      margin-top: 20%;
    }
  }

  .fade-in-out2 {
    opacity: 0; 
    animation: fadeInOutAnimation2 2s forwards; /* Apply the animation */
  }
  
  @keyframes fadeInOutAnimation2 {
    from {
      opacity: 0; 
      margin-top: 10px;
    }
    to {
      opacity: 1; 
      margin-top: 15px;
    }
  }

#about {
    padding: 40px 15px; 
    color: #2E2E2E;
}

.row {
    display: flex; /* puts the image and text in a row */
    justify-content: space-between; /* puts them at opposite ends of the screen */
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%; 
    border-radius: 15px; /* round the corners */
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #4A4A4A;
}

.tab-titles {
    display: flex; /* put them in the same row */
    margin: 20px 0 40px; 
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0; /* so its invisible to start, fully visible at 100% */
    height: 3px; 
    background: #FFA07A;
    position: absolute; 
    left: 0; 
    bottom: -8px; 
    transition: 0.5s; /* adds underline animation so that is shows up in 0.5 seconds */
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#projects {
    padding: 5% 10px;
}

.project-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40 px; 
    margin-top: 50 px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%; 
    border-radius: 10px; 
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%; 
    height: 0; 
    background: linear-gradient(rgba(0, 0, 0, 0), #FFA07A);
    border-radius: 10px; 
    position: absolute;
    left: 0; 
    bottom: 0;
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    padding: 0 40px; 
    text-align: center;
    font-size: 14px; 
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500; 
    margin-bottom: 20px; 
}

.layer a {
    margin-top: 20px; 
    color: #FFA07A;
    text-decoration: none;
    font-size: 18px; 
    line-height: 60px; 
    background: #fff;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    text-align: center;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .layer {
    height: 100%;
}

.btn {
    display: block; 
    margin: 50px auto; 
    width: fit-content; 
    border: 1px solid #FFA07A;
    padding: 14px 50px; 
    border-radius: 6px;
    text-decoration: none; 
    color: #4A4A4A;
    transition: background 0.5s;  
}

.btn:hover {
    background: #FFA07A;
}

nav .fas {
    display: none; 
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(phone-background.png);
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px; 
    }
    .header-text h1 {
        font-size: 30px; 
    }
    nav .fas {
        display: block; 
        font-size: 25px; 
    }
    nav ul {
        background: #FFA07A;
        position: fixed; 
        top: 0; 
        right: -200px; 
        width: 200px; 
        height: 100vh;
        padding-top: 50px; 
        z-index: 2; 
        transition: right 0.5s;
    }
    nav ul li {
        display: block; 
        margin: 25px; 
    }
    nav ul .fas {
        position: absolute; 
        top: 25px; 
        left: 25px; 
        cursor: pointer; 
    }
    .sub-title {
        font-size: 40px; 
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px; 
    }
    .tab-links {
        font-size: 16px; 
        margin-right: 20px; 
    }
}